@media only screen and (max-width: 600px) {
    .product-list-3 {
       width:100%;
    }
    .product-list-4{
        width:100%;
    }
    nav ul{
        display:none;
    }
    .col-2-right{
        width:100%;
    }
    .col-2-left{
        width:100%;
    }
    .search-button{
        width:15%;
        float:left;
        }
    .overlay-button{
        top:70%;
        left:50%
    }
    .mobile-menu{
        background-image:url('../images/burgermenu.jpg');
        background-repeat:no-repeat;
        height:40px;
        background-size:cover;
        width:15%;
        float:right;
    }
}
