.header-menu nav ul li{
    float:left;
    list-style:none;
    min-width:16%;
    /*line-height:30px;
    padding-top:15px;
    padding-bottom:15px;*/
    text-align:center;
}
    .header-menu nav ul li a {
        text-decoration: none;
        display: block;
        color: white;
        font-weight: bold;
        line-height: 30px;
        font-stretch: ultra-expanded;
        width: 80%;
        font-size: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
        .header-menu nav ul li a:hover {
            border-bottom:1px solid green;
        }
.header-menu nav {
    float:left;
}
.header-menu > .search-button > .search-logo{
    float:right;
}
.search-bar{
    display:none;

}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    position:relative;
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    margin-left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    float: left;
    width:40%;
    border: 1px solid #888; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    background-color:red;
    color: white;
   float:right;
   margin-right:20px;
    font-size: 50px;

    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    .search-bar-with-close{
        position:relative;
    }
.quote span, .double-quote span {
    font-size: 30px;
    font-weight: normal;
    color: green;
    margin-top: 10px;
    font-family: 'Quicksand', sans-serif;
}
.quote{
    background-image:url('../images/humble-team.png');
    background-repeat:no-repeat;
    background-size:contain;
    margin-top:60px;
    margin-bottom:60px;
    text-align:center;
    background-position:center;
}
.double-quote {

    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;

}
/*.product-image {
    width: 80%;
    margin: 0 auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
    .product-image img {
        width: 90%;
        border-top-left-radius: 100px;
        border-top-right-radius: 105px;
    }*/
.product-list-4 {
    width: 21.2%;
    position:relative;
    background-color: white;
    height: 300px;
    float: left;
    list-style: none;
    margin: 10px 1.9% 2.992em 1.9%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.product-list-4:hover .product-add-button-overlay {
    display: block;
    position: absolute;
    left: 50%;
    z-index: 30;
    top: 50%;
    transform: translate(-50%, -50%);
}
.product-list-4:hover img{
    opacity:0.7;
}
.product-list-3 {
    width: 29.5%;
    background-color: white;
    height: 400px;
    float: left;
    list-style: none;
    margin: 10px 1.9% 2.992em 1.9%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.product-list-2 {
    width: 46%;
    background-color: white;
    height: 200px;
    float: left;
    list-style: none;
    margin: 10px 1.9% 2.992em 1.9%;
}
.product-list-1 {
    background-color: whitesmoke;
    box-shadow: 4px 4px 5px 1px grey;
    margin: 10px 1.9% 2.992em 1.9%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.product-list-1 img{
    width:100%;
}
.company-history{
    color:white;
    animation-name:scrolling;
    animation-duration:4s;
    animation-iteration-count:infinite;
    font-weight:200;
    font-size:30px;
    padding:50px;
    line-height:45px;
}
.company-history-2 {
    color: white;
    margin:0 auto;
    font-size: 60px;
}
.company-history-2 span{
    padding-top:40px;
    display:block;
    text-align:center;
}
    .company-history-2 button {
        position: absolute;
        background-color: red;
        left: 50%;
        top:80%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
.newsletter-form{
    padding:16px;
}
.add-color {
    background:url('../images/grass.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    border-radius: 25px;
}
.newsletter-form input{
    width:100%;
    margin-top:10px;
    margin-bottom:10px;
    border-radius:18px;
    border:none;
    height:40px;
    padding:10px;
}
.newsletter-form label{
    display:block;
    color:white;
    font-weight:bold;
}
.btn{
    width:50%;
    margin-top:30px;
    margin-bottom:20px;
    border-radius:20px;
    line-height:40px;
    background-color:green ;
    color:white;
    font-weight:bold;
    border:0;
}
.insta-image{
    width:25%;
    float:left;
}
.insta-image img{
    width:100%;
}
.footer-copyright{
    color:white;
    text-align:center;
    margin-top:40px;
}
.cart {
    background-color:white;
    position:relative;
    color: black !important ;
    font-size: 20px;
    border-radius: 5px;
    font-size: 15px;
    animation-name:jumping;
    animation-duration:3s;
    animation-iteration-count:infinite;

}
    .cart:hover {
        background-color: #4cb23c;
        color: white !important;
        border: none;
    }
.search-input{
}
.white-footer-list ul li{
    list-style:none;
}
.white-footer-list ul li a{
    color:white;
    text-decoration:none;
}
.white-footer-list span{
    font-size:30px;
    color:white;
}
.white-footer-list ul li a:hover{
    color:green;
}
.signup-container form{
    margin:0 auto;

}
.signup-container {
    width: 50%;
    margin: 0 auto;
    margin-bottom:250px;
}
.background {
    background-image: linear-gradient(black,transparent,black),url('../images/junnic-product.jpg');
    background-repeat:no-repeat;
    background-size:cover;
}
.signup-form label {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 40px;
    color: #497444;
    font-weight: bold;
    float: left;
    width: 20%;
}
.signup-form {
    padding: 30px;
    background-color:white;
    box-shadow:2px 2px 2px white;
    border-radius:45px;
}
    .signup-form input {
        border-radius: 8px;
        background-color: #e4f3e5;
        border: none;
        margin-left: 10px;
        margin-right: 10px;
        padding-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 70%;
        height: 40px;
        float: right;
    }
.overlay-effect {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(259, 67, 95, 0.7);
    overflow: hidden;
}
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: black;

    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    box-shadow: 0 5px white;
}

    .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

        .button span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

    .button:hover span {
        padding-right: 25px;
    }

        .button:hover span:after {
            opacity: 1;
            right: 0;
        }
    .button:active {
       
        transform: translateY(4px);
    }

.product-list-3 span {
    display: block;
    padding-top: 5px;
    color: green;
    font-size: 17px;
    font-weight: normal;
    float: right;
    margin-top: 5px;
    margin-right: 15px;
    font-family: 'Didact Gothic', sans-serif;
}
.product-list-3 a{
    text-decoration:none;
    color:black;
}
.product-list-4 span {
    display: block;
    padding-top: 5px;
    color: green;
    font-weight: normal;
    font-size: 17px;
    text-align: left;
    float: right;
    margin-top: 5px;
    margin-right: 15px;
    font-family: 'Didact Gothic', sans-serif;
}
.product-list-2 span {
    display: block;
    padding-top: 5px;
    color: green;
    font-weight: normal;
    font-size: 17px;
    text-align: left;
    float: right;
    margin-top: 5px;
    margin-right: 15px;
    font-family: 'Didact Gothic', sans-serif;
}
.product-list-4 a {
    text-decoration: none;
    color: black;
}
.product-title {
    padding-left: 15px;
    float: left;
    margin-top: 8px;
    font-size: 20px;
    font-weight: 200;
    font-family: 'Didact Gothic', sans-serif;
}
.page-title {
    text-align: center;
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 30px;
    color: black;
    font-family: 'Didact Gothic', sans-serif;
}
.zoom {
    transition: transform .2s; /* Animation */
    margin: 0 auto;
}

    .zoom:hover {
        transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }
.dropdown-content {
    display: none;
    float:left;
    display:block;
    position: relative;
    background-color: #f9f9f9;
    min-width: 30px;
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.single-product {
    position: relative;
    background-color: black;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.product-add-button-overlay {
    display: none;
    width:15%;
    padding-bottom: 20%;
    background-image: url('../images/add-button.png');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.single-product:hover .product-add-button-overlay {
    display: block;
    position: absolute;
    left: 50%;
    z-index: 30;
    top: 50%;
    transform: translate(-50%, -50%);
}
.single-product:hover img{
    opacity:0.5;
}

.single-product img{
    width:100%;
}
.single-product-price{
    font-size:30px;
    font-weight:300;
    color:green;
    display:block;
    padding-top:20px;
}
.single-product-title{
    text-align:center;
    font-size:40px;
    color:orange;
    margin-bottom:20px;

}
.product-quantity{
    height:40px;
    width:20%;
    background-color:lightyellow;
    padding:10px;
    line-height:30px;
    font-size:20px;
    font-weight:400;
    margin-top:30px;
    margin-left:10px;
    margin-bottom:20px;
}
.product-add-button {
    background-color: #e49c0d;
    padding-left: 16px;
    padding-right: 16px;
    color: white;
    width: 40%;
    padding: 10px;
    line-height: 30px;
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}
.tab {
    overflow: hidden;
    margin-top:50px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

    /* Style the buttons inside the tab */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 30px 26px;
        transition: 0.3s;
        font-size: 17px;
        font-weight:bold;

    }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #ccc;
        }

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 16px 20px;
    border: 1px solid #ccc;
    border-top: none;
    min-height:230px;
}
.tabcontent h3{
   margin-bottom:20px;
   line-height:40px;
}
    .tabcontent p {
        font-weight: 100;
        line-height: 2;
        text-align: justify;
        font-family: 'Open Sans Condensed', sans-serif;
    }
.show{
    display:block;
    animation-name:scrollfromtop;
    animation-duration:0.4s;
    animation-iteration-count:1;
}
.badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 15px;
    border-radius: 50%;
    background: red;
    color: white;
}
.cart-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 70px;
    background-color: white;
    padding-bottom: 20px;
    border-radius:25px;

}

.cart-table {
    margin: 0 auto;
    width: 80%;
    background-color: white;
    border-collapse: collapse;
    border-spacing: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
    .cart-table th {
        line-height: 40px;
        color: black;
        font-size: 15px;
        font-weight: 800;
        border-bottom: 1px solid #ddd;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
tr:nth-child(even) {
    background-color: #f2f2f2;
}
.cart-table td {
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
.checkout {
    background-color: green;
    border-color: #28a745;
    margin-top: 20px;
    padding:15px;
    border:1px solid transparent;
}
.checkout-header {
    float:right;
    margin-bottom:40px;
    right:50%;
    width:60%;
}
.cart-container h2{
    font-size:50px;
    color:green;


}
.total{
    font-size:30px;
    font-weight:500;
}
.grand-total{
    color:green;
    font-weight:900;
}
.search-wrapper{
    display:inline-block;
    padding:20px;
    width:100%;
    padding-right:10%;
}
.search-go{
    position:absolute;
    right:0px;
    top:0px;
    height:100%;
    width:10%;
    cursor:pointer;
}
.search-go img{
    width:100%;
    height:100%;
    object-fit:cover;
}
.show{
    display:block;
}
.active{
    background-color:red;
}
.white-color{
    color:white !important;
}

.footer-container .fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-right:10px;
}
.fa:hover{
    opacity:0.7;
}
.social-media{
    width:100%;
    margin-top:20px;
    margin-bottom:20px;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-instagram {
    background: #3B5998;
    color: white;
}
.fa{
    color:white;
    padding-left:5px;
    margin:0;
}
.small{
    font-size:14px !important;
}
.visible{
    display:block;
    animation-name:fading;
    animation-duration:0.5s;
    animation-iteration-count:1;
}
